@charset "utf-8";
/* 
    Created on : February 14, 2023
    Author     : Ann Smith
    Comment: CSS for essay page
*/

/* Perimeters for main HTML*/
html {
    height: 100%;
}

/* Perimeters for body*/
body{
    position: relative;
    font-family: Ariel, sans-serif; 
    font-size: 12pt;
    font-weight: bold;
}

/* Perimeters for blockqoute */
section > blockquote > pre {
    font-family: Ariel, sans-serif; 
    font-size: 12pt;
    letter-spacing: 0.1em;
    line-height: 25px;
    color: #000000;
    width: 100%;
    margin-left: 200px;
}

/* header font sizes*/
h1 {font-size: 1.5em;}
h2 {font-size: 1.0em;}
h3 {font-size: 1.0em;}

/* Perimeters for header 1*/
h1 {
    font-family: Ariel, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin-left: 200px;
}


/* Perimeters for header 2*/
h2{
    font-family: Ariel, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2.0px;
    color:#000000;
    font-weight: bold;
    text-align: left;
    margin-left: 200px;
}

h3{
    font-family: Ariel, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #000000;
    font-weight: bold;
    text-align: left;
    margin-left: 200px;
}

/* Perimeters for p */
p {
    font-family: Ariel, sans-serif; 
    font-size: 12pt;
    letter-spacing: 0.1em;
    color: #000000;
    text-align: left;
    width: 100%;
    margin-left: 200px;
}

/* Perimeters for footer*/
footer {
    color: #000000;
    font: normal small-caps bold 0.9em/3em;
    text-align: left;
    font-size: 10pt;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}
